/** @format */
*{
  font-family: sans-serif;
}
.navbar {
  height: 15vh;
}

.nav-link {
  margin: 0.5rem;
  padding: 0;
}
.more-box:hover {
  filter: brightness(0.9);
}
 .second-hover-box:hover {

}
.head-img {
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -999999;
  background-image: url(../images/01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
}
.my-skill-class::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2.5px;
  background-color: chartreuse;
}
.progress .progress-bar {
  background-color: #57d131;
  border-radius: 4px;
}
.client-class::before{ 
  content: "";
  position: absolute;
  width: 45px;
  height: 2.5px;
  left:47vw;
  background-color: rgb(109, 197, 21);
}
.link-hover{
  color: #57d131;
}
.link-hover:hover{
 color: #57d131;
}
.link-hover span{
  transition:all 0.2s ease-in 0s;
}
.link-hover:hover span{
  margin-left:15px;
}
.list-hover{
  color: rgb(136, 136, 136);
  transition: all 0.2s linear 0s;
}
.list-hover:hover{
  color: #57d131;
}
.border-hover{
  border: 4px solid white;
  transition: all 0.2s linear 0s;
}
.border-hover:hover{
  border-color: #57d131;
}
.form-list1{
color: black;
margin:2vh;
}
.form-list2{
  color: rgb(136, 136, 136);
  margin: 2;
}